1\
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <div class="container">
            <div>
                <% profiles.forEach(function(profile){ %>
                    <div>
                        <a href="/profiles/<%= profile._id %>">
                            <div>
                                <% if (profile.avatar) { %>
                                    <img src="<%= profile.avatar %>" alt="<%= profile.name%>'s avatar" />

                                    <% } else { %>
                                        <img src="/images/icons/user.png" alt="placeholder" />
                                        <% } %>
                                            <div class="body">
                                                <p class="title">
                                                    <%= profile.name %>
                                                </p>
                                            </div>
                            </div>
                        </a>
                    </div>
                    <% }) %>

            </div>
        </div>
    </main>
</body>

</html>