<%- include('./partials/html-head') %>
  <%- include('./partials/nav') %>
<div class="container">
    <main>
      <h1>Hello, <%= user ? user.profile.name : "friend" %>
      </h1>
      <% if (user?.profile.avatar) { %>
        <div>
          <img src="./images/Chef.jpg" alt="">
        </div>
        <% } %>
    </main>
</div>
    <%- include('./partials/footer') %>