<%- include('./partials/html-head') %>
  <%- include('./partials/nav') %>



    <div class="welcome">
      <header class="responsive-font-example">
        <h1 id="welcomemsg">Hello, <%= user ? user.profile.name : "friend" %>. Welcome to the Chef's Corner!</h1>
        <% if (!user?.profile.avatar) { %>
          <div>
            <img class="img-fluid" height="auto" width="700px" id="chefcentral" src="./images/Chef.jpg"
              alt="Responsive image">
          </div>
          <% } else { %>
            <p id="login-welcome">We're so happy you've decided to check out our app! It's a labor of love, and a work
              in progress, but
              we're trying to build something truly remarkable and infinitely useful to the amateur and professional
              chef
              alike. So take a look around, and explore our features! We use Google authentication, so there's no need
              to
              create a new account. Just login with your Gmail and everything is taken care of for you!</p>
            <img class="img-fluid mx-auto" height="auto" width="500px"
              src="https://i.giphy.com/media/DYQrUcDgQi7Ha/giphy.webp" alt="Responsive image">
            <% } %>
      </header>
    </div>
    <%- include('./partials/footer') %>